# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Model and dataset artifacts
*.h5
*.keras
*.pickle
*.pb
*.pth
*.pt
brain_tumor_cnn_savedmodel/
brain_tumor_mri/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
